---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm Sarath S, a student at SECE in Coimbatore, deeply passionate about Computer Science & Engineering. I've had the opportunity to work on various projects, ranging from crafting dynamic ReactJS websites to experimenting with IoT solutions using Arduino. My skill set covers languages like C/C++, Java, and Python, and I'm constantly learning through certifications, always eager to expand my knowledge.

		While I enjoy exploring areas like software engineering, cybersecurity, and IoT, I'm just starting out on this journey and have a lot more to learn. I've been fortunate to participate in some technical symposiums and hackathons, where I've been able to contribute and learn from others. I'm grateful for these experiences and excited about the potential to make meaningful contributions in the field of technology in the future.






	</p>

</Layout>
