---
import NavBar from '../components/NavBar.astro';
import ProjCard from '../components/Projcard.astro';
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import NavBar from '../components/NavBar.astro';
---



<html style="background-image: url('https://w4s4p34.github.io/static/media/NoiseVFX.d91e105ee136f2cec258.gif'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
<NavBar/>
<div class="grid gap-8 md:grid-cols-2 lg:gap-12 p-6 md:p-10 mt-6">
    
{
    projects.map(project=>(
    
    <a href={`/projects/${project.slug}`}
        class="flex flex-col p-6 space-y-6 transition-all duration-500 bg-gray-200 border border-indigo-100 rounded-lg shadow hover:shadow-xl lg:p-8 lg:flex-row lg:space-y-0 lg:space-x-6">
        <div
            class="flex items-center justify-center w-16 h-16 bg-black border border-white rounded-full shadow-inner lg:h-20 lg:w-20">
            <svg class="w-10 h-10 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z">
                </path>
            </svg>
        </div>
        <div class="flex-1">
            <h5 class="mb-3 text-xl font-bold lg:text-2xl">{project.data.title}</h5>
            <p class="mb-6 text-lg text-gray-600">{project.data.description}</p>
            <span class="flex items-baseline text-lg font-bold text-indigo-600">
              View Details
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
            </span>
        </div>
    </a>
    

    ))
}
</div>
</html>


